<div class="row">
    <div class="col col-lg-8 col-md-6 col-sm-12">
        <input name="daterange" type="text" class="form-control"/>
    </div>
    <div class="col col-lg-2 col-md-6 col-sm-12">
        <form method="get" class="form-inline">
        <input name="dateFrom" id="dateFrom" style="display:none;" value="{{criteria.dateFrom}}"/>
        <input name="dateTo" id="dateTo" style="display:none;" value="{{criteria.dateTo}}"/>
        <button type="submit" class="btn btn-sm btn-primary ml-5 form-control form-control-sm">Search</button>
        </form>
    </div>
</div>
