<div class="row">
    <div class="col col-lg-8 col-md-6 col-sm-12">
        <input name="daterange" type="text" class="form-control"/>
    </div>
    <div class="col col-lg-2 col-md-6 col-sm-12">
        <form method="get" class="form-inline" id="filtersForm">
            <input name="date_from" id="dateFrom" style="display:none;" value="{{criteria.date_from}}"/>
            <input name="date_to" id="dateTo" style="display:none;" value="{{criteria.date_to}}"/>
            <button type="submit" class="btn btn-sm btn-info ml-5 form-control form-control-sm">Search</button>
        </form>
    </div>
</div>
<div class="row mt-3">
    <div class="col col-lg-8 col-md-6 col-sm-12" id="filterTags">
        <span class="badge badge-secondary" id="resetFilters">X</span>
    </div>
</div>
