{% extends "layout.html.twig" %}

{% block content %}
<div class="card text-center mt-5">
    <div class="card-header">

            Welcome to {{name}}

    </div>
    <div class="card-body">
        <p class="card-text">Demo web application for orders and their stats.</p>
    </div>
    <div class="card-footer text-muted">
        v. 1.0
    </div>
</div>
{% endblock %}
