{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-sm-3">
            {% include "total_orders.html.twig" %}
        </div>
        <div class="col-sm-3">
            {% include "total_customers.html.twig" %}
        </div>
    </div>
{% endblock %}
