<div class="card text-center mt-5">
    <div class="card-header">
        <h5 class="card-title">Total orders</h5>
    </div>
    <div class="card-body">
        <p class="card-text"><span class="badge">{{total_orders}}</span></p>
    </div>
</div>
