<div class="card text-center mt-5">
    <div class="card-header p-1">
        <h5 class="card-title">Total orders</h5>
    </div>
    <div class="card-body p-1">
        <h2><span class="badge badge-secondary">{{total_orders}}</span></h2>
    </div>
</div>
