<div class="card text-center mt-5 border-0">
    <div class="card-body p-1">
        <h2><span class="badge badge-secondary"><i class="fa fa-euro-sign"></i> {{(total_revenue/100)|number_format(2)}}</span></h2>
    </div>
    <div class="card-body bg-light p-1">
        <h6 class="card-title text-muted">Total volume of orders</h6>
    </div>
</div>
